@charset "utf-8";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {                                                       --cor1: #1E3A8A; /*Azul mais forte*/
        --cor2: #2563EB; /*Azul mais claro*/                  --cor3: #38BDF8; /*Ciano*/
        --cor4: #10B981; /*Verde*/
        --cor5: #F8FAFC; /*Branco (off white)*/       }

header {
	position: sticky;
	top: 0;
	width: 100vw;
	background-color: var(--cor1);
}

button {
	width: 80px;
	height: 50px;
	background-color: var(--cor4);
	transition: 2s;
}

button:active {
	background-color: var(--cor1);
}

nav {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	width: 100vw;
}

#menu {
	background-color: var(--cor2);
}

.menu-animado {
	animation: animaMenu 5s ease-in-out 0s 1 normal backwards;
}

@keyframes animaMenu {
	0% {
        	transform: translateX(-100%);
	}

	100% {
  		transform: translateX(1%);
	}
}

@keyframes animaItemMenu {
	0% {
		transform: translateX(-100%);
	}

	100% {
		transform: translateX(1%);
	}
}

@media (hover: hover) {
	button:hover {
		transform: scale(1.5);
	}
}
